<% if @task.errors.any? %>
  <div class="alert alert-danger">
    <button type="button"      class="close" data-dismiss="alert">x</button>
    <h5><%= t('common.errors') %></h5>
    <ul>
      <% @task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: task, local: true) do |form| %>
  <div class="form-row">
    <div class="col-md-7 mb-3">
      <%= form.text_field :title, class: "form-control", placeholder: "Enter title", autocomplete: "off" %>
    </div>
    <div class="col-md-2 mb-3 form-group">
      <%= form.text_field :due_date, class: "form-control", id: "datepicker", autocomplete: "off", placeholder: "Select date" %>

      <script>
       $(function() {
       $( "#datepicker" ).datepicker({
         minDate: 0,
         dateFormat: 'yy-mm-dd'
        });
       });
      </script>
    </div>
    <div class="col-md-3 mb-3">
      <div class="input-group-prepend">
        <%= form.label :priority, class: "input-group-text"%>
        <%= form.select :priority, options_for_select([["Highest priority", 1],
                                                        ["High priority", 2],
                                                        ["Normal priority", 3],
                                                        ["Low priority", 4],
                                                        ["Lowest priority", 5]]), {},  class: "form-control" %>
      </div>

    </div>
  </div>
  <div class="form-group">
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="col-md-7 mb-3">
    <% if params[:action] != "new" %>
      <%= form.label :select_if_task_completed %>
      <%= form.check_box :completed %>
     <% end %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-outline-primary"  %>
  </div>
<% end %>
