<h1>Completed task</h1>
<%= form_tag batch_delete_tasks_path, method: :delete do %>
<div class="table-responsive text-nowrap">
  <table id="completedTaskTable" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th id="title">Title</th>
        <th data-sorter="false">Actions</th>
        <th data-sorter="false"><input type="checkbox" id="selectAllCompleted"></input></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks_complete.each do |task| %>
        <tr>
          <td><%= link_to task.title, task %></td>
          <td class="btn-group" role="group">
            <%= link_to 'Edit', edit_task_path(task), class: "btn btn-outline-primary btn-sm" %>
            <%= link_to "Mark as new", complete_task_path(task, completed: false), method: :post, class: "btn btn-outline-warning btn-sm"  %>
            <%= link_to 'Delete', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm"  %>
          </td>
          <td><%= check_box_tag "task_ids[]", task.id, false, class: 'selectable' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= submit_tag "Delete selected", :class => 'btn btn-primary btn-xs' %>
<% end %>
<%= link_to 'Create task', new_task_path, class: "btn btn-primary" %>
