<h1>Tasks</h1>

<div class="table-responsive-sm">
  <% if @tasks.empty? %>
   No task please create <%= link_to 'new Task', new_task_path %>
  <% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Title task</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <% @tasks.each do |task| %>
    <tbody>
      <tr>
        <th><%= link_to task.title, task %></th>
        <td><%= task.completed %></td>
        <td>
          <%= link_to 'Edit', edit_task_path(task), class: "btn btn-warning" %>
          <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= link_to 'New Task', new_task_path %>
  <% end %>
</div>
