<main role="main" class="container">
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0">Task details pages</h6>
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Title:</strong><%= @task.title %>
      </p>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Due date:</strong><%= @task.due_date %>
      </p>
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">Priority:</strong>
        <% if @task.priority == 1 %>
          Highest priority
        <% elsif @task.priority == 2 %>
          High priority
        <% elsif @task.priority == 3 %>
          Normal priority
        <% elsif @task.priority == 4 %>
          Low priority
        <% else %>
          Lowest priority
        <% end %>
      </p>
    </div>
    <div class="media text-muted pt-3">
      <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark"><%= @task.description %></strong></p>
    </div>

    <small class="d-block text-right mt-3">
      <%= link_to 'Edit task', edit_task_path(@task), :class => 'btn btn-outline-warning btn-sm' %>
      <%= link_to 'Back', url_for(:back), class: "btn btn-outline-secondary btn-sm" %>
      <%= link_to 'All task page', tasks_path(@task), :class => 'btn btn-outline-info btn-sm' %>
    </small>
  </div>
</main>
